* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header {
  overflow: hidden;
  padding: 20px 10px;
  min-width: 320px;
  width: 100%;
}

header a {
  display: flex;
  flex-direction: row;
  float: left;
  color: rgb(247, 245, 245);
  text-align: center;
  padding: 15px;
  text-decoration: underline;
  font-size: 15px;
  line-height: 5px;
  border-radius: 4px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
  border: 3px solid rgb(255, 202, 245);
  margin-top: 20px;
  margin-left: 0px;
  color: transparent;
  padding: 0px 20px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: relative;
}

.logo-container {
  height: 100%;
  display: flex;
  float: left;
}

.logo-container h1 {
  color: #fff;
  height: 100%;
  align-self: center;
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
}

.logo-container h1 span {
  font-weight: 900;
  color: rgb(237, 218, 255);
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation a {
  width: auto;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s ease;
}

.navigation a:last-child {
  padding-right: 0;
}

.section3-cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.exhibition-container {
  display: block;
  padding: 10px;
  margin: 20px;
  min-width: 320px;
  width: 40%;
}

.card {
  display: block;
  background-color: rgb(2, 3, 3);
  height: 750px;
  min-width: 320px;
  width: 100%;
  margin-top: 20px;
  box-shadow: 5px 5px 30px 20px black;
  transition: 300ms;
}

.card:hover {
  height: 750px;
  min-width: 320px;
  width: 100%;
  color: rgb(224, 211, 211);
  transform: scale(1.1);
  z-index: 5;
}

.li-header {
  text-decoration: underline;
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 35px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h3 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

p {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 15px;
  align-items: center;
  color: rgb(255, 248, 248);
}

.kids-image {
  height: 300px;
  width: 100%;
  border-radius: 3px;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

button {
  display: flex;
  text-decoration: none;
  border: 3px solid rgb(128, 244, 234);
  color: transparent;
  padding: 10px 20px;
  font-size: 28px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: absolute;
  margin-top: 370px;
}
button:before {
  content: "Learn More";
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(128, 244, 234);
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}
button:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}
button:after {
  content: "Learn More";
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(128, 244, 234);
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}
button:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    align-items: flex-start;
    margin-left: -20px;
    font-size: 10px;
  }

  .logo-container {
    margin-top: -60px;
  }

  .logo-container h1 {
    font-size: 25px;
  }
}
